<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Book Information</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/books/search">Search Books</a></li>
            <li><a href="/borrowed">Borrowed Books</a></li>
            <li><a href="/dashboard">User Dashboard</a></li>
            <li><a href="/libinfo">Library Info</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2 th:text="${bookDetails['title']}"></h2>
    <p><strong>ISBN:</strong> <span th:text="${bookDetails['book'].id}"></span></p>
    <p><strong>Summary:</strong> <span th:text="${bookDetails['summary']}"></span></p>
    <p><strong>Author:</strong> <span th:text="${bookDetails['author']}"></span></p>
    <p><strong>Genre:</strong> <span th:text="${bookDetails['genre']}"></span></p>
    <p><strong>Publisher:</strong> <span th:text="${bookDetails['publisher']}"></span></p>
    <p><strong>Publication Date:</strong> <span th:text="${bookDetails['date']}"></span></p>
    <p><strong>Pages:</strong> <span th:text="${bookDetails['pages']}"></span></p>
</main>
<footer>
    <p>Contact us at info@library.com | Library Hours: 9 AM - 8 PM</p>
    <p>&copy; 2024 Library Management System</p>
</footer>
</body>
</html>
