<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Home</title>
    <link rel="stylesheet" href="/css/Home.css">
</head>
<body>
<header>
    <div>
        <h1>Library Management System</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/books/search">Search Books</a></li>
            <li><a href="/borrowed">Borrowed Books</a></li>
            <li><a href="/dashboard">User Dashboard</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h2>Welcome</h2>
    </section>
<!-- lesa it is not final -->

    <section class="highlights">
        <h1>Top Picks</h1>
        <div class="book-list">
            <ul>
                <li th:each="entry : ${booksWithDescriptions}">
                    <strong th:text="${entry.title}"></strong>
<!--                    <p th:text="${entry.book.ISBN}"></p>-->
                    <p th:text="${entry.description}"></p>
                </li>
                <li th:if="${#lists.isEmpty(booksWithDescriptions)}">No books found.</li>
            </ul>

        </div>
    </section>
</main>
<footer>
    <p>Contact us at info@library.com | Library Hours: 9 AM - 8 PM</p>
    <p>&copy; 2024 Library Management System</p>
</footer>
</body>
</html>